* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #d1d1d1;
}

header h1 {
	text-align: center;
	font-weight: 600;
	font-size: 3rem;
}

header hr {
	width: 25%;
	margin: auto;
	margin-bottom: 3rem;
}

table {
	width: 90%;
	margin: auto;
}

table tr {
	cursor: default;
	height: 65px;
}

table th {
	text-align: center;
}

table td {
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}

table .btn-edit {
	color: #2196f3;
	display: none;
}

table .btn-delete {
	color: #f44336;
	display: none;
}

table tr:hover .btn-edit{
	display: inline-block;
}

table tr:hover .btn-delete{
	display: inline-block;
}

#add form button {
	margin-top: 20px;
	padding: 0 50px;
}

#edit form button {
	margin-top: 20px;
	padding: 0 50px;
}

#delete .btn {
	margin: 0 10px;
}